
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: black;
}

.heading span{
    background: #133E87;
    color:#fff;
    display: inline-block; 
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: #133E87;
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background:#fff;
    box-shadow: var(--box-shadow);
    height: 60px;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color: black;
}

.header .navbar a:hover{
    font-weight: bolder;
    color: #133E87;
}

.home{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    background: url(image/banner3-min.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content{
    text-align: center;
    width:60rem;
    border: #133E87;
}

.home .content h3{
    color: black;
    font-size: 3rem;
}

.home .content h3 span{
    color: #133E87;
}

.home .content p{
    color:var(--light-color);
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}


.features .box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.features .box-container .box{
    padding:3rem 2rem;
    height: 450px;
    width: 350px;
    background: #fff;
    text-align: center;
    
}

.features .box-container .box:hover{
    border: 2px solid #133E87;
    
}

.features .box-container .box img{
    margin:1rem 0;
    border-radius: 20px;
    width: 100%;       /* Set image width to fully fill the container */
    height: 40%;      /* Set image height to fully fill the container */
    object-fit: cover; /* Scale the image to cover the entire area without stretching */
    overflow: hidden; 
}

.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: black;
}

.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #6a7486;
    padding:1rem 0;
}
.categories{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.search-container {
    width: 80%; /* Adjusts width of search bar */
    max-width: 600px; /* Maximum width for large screens */
    margin-bottom: 10px;
}

  /* Styling for the search input */
  .search-bar {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 30px;
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Styling for search input on focus */
  .search-bar:focus {
    border-color: #007bff;
    box-shadow: 0px 4px 12px rgba(0, 123, 255, 0.2);
  }

.categories .box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.categories .box-container .box{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    margin-left: 6px;
    padding:3rem 2rem;
    height: 450px;
    width: 260px;
    background: #fff;
    text-align: center;
}

.categories .box-container .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.categories .box-container .box img{
    border-radius: 20px;
    margin:1rem 0;
    height:15rem;
}

.categories .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   line-height: 1.8;
}

.categories .box-container .box p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}


.categories .box-container .box img {
    width: 100%;       /* Set image width to fully fill the container */
    height: 45%;      /* Set image height to fully fill the container */
    object-fit: cover; /* Scale the image to cover the entire area without stretching */
    overflow: hidden;  /* Hide any overflow if needed */
}



.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}

.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding:2rem;
    }
    section{
        padding:2rem;
    }
}

@media (max-width:768px){
    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

   
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2.5rem;
    }
    .footer{
        text-align: center;
    }
}


